# Virtual Environment
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
instance/
.pytest_cache/
.coverage
htmlcov/

# Node / Frontend
node_modules/
dist/
target/
frontend/dist/
frontend/node_modules/

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
